.ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.li {
  margin: 1rem;
  list-style: none;
  display: flex;
	flex-direction: row;
	justify-content: center;
}

.a {
  display: inline-block;
  position: relative;
  overflow: hidden;
  color: gray;
  text-decoration: none;
  font-size: 1.4rem;
}

.a:hover {
  color: #5ECFD7;
}

.a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #5ECFD7;
  transform: translate(-100%, 0);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
  content: "";
}

.a:hover:after {
  transform: translate(0, 0);
}

/* トップページのアニメーション始まり */

.imgWrap {
  overflow: hidden;
  position: relative;
}

.cover1,
.cover2,
.cover3,
.cover4,
.cover5,
.cover6 {
  animation: cover 2s cubic-bezier(.4, 0, .2, 1) forwards;
  background: #5ECFD7;
  height: calc(100%/6);
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  z-index: 1;
  border-top-left-radius : 30px;
	-webkit-border-top-left-radius: 30px;
	-moz-border-radius-topleft: 30px;
	border-bottom-left-radius : 30px;
	-webkit-border-bottom-left-radius: 30px;
	-moz-border-radius-bottomleft: 30px;
	border-top-right-radius : 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	border-bottom-right-radius : 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-bottomright: 0px;
}

.cover1 {
  top: 0;
}

.cover2 {
  animation-delay: .1s;
  top: calc(100%/6);
}

.cover3 {
  animation-delay: .2s;
  top: calc(100%/6*2);
}

.cover4 {
  animation-delay: .3s;
  top: calc(100%/6*3);
}

.cover5 {
  animation-delay: .4s;
  top: calc(100%/6*4);
}

.cover6 {
  animation-delay: .5s;
  top: calc(100%/6*5);
}

@keyframes cover {
  100% {
    transform: translateX(100%);
  }
}

.topNameText {
  display: inline-block;
  text-align: center;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
  color:#FFF;
  border-right: 2px solid transparent;
  animation: typing 2s steps(44) 1s 1 normal both;
  animation-delay: 1s;
}

.topJobText {
  display: inline-block;
  text-align: center;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
  color:#FFF;
  border-right: 2px solid transparent;
  animation: typing 2s steps(44) 1s 1 normal both;
  animation-delay: 4s;
}


@keyframes typing {
  0% {
    width: 0;
  }
}
@keyframes caret {
  50% {
    border-right-color: #FFF;
  }
}
/* トップページのアニメーション終わり */