.a {
  display: inline-block;
  position: relative;
  overflow: hidden;
  color: #808080;
  text-decoration: none;
}

/* .content{
  border: none;
  transition: all 0.2s;
}

.content:hover{
  border: solid 2px #0BC5EA;
  transform: scale(1.1, 1.1);
} */

/* ボーダーアニメーション */
.border {
  position: relative;
  display: inline-block;
  padding: .2em 1em;
  border: 2px solid #fff;
  color: #808080;
  text-align: center;
  text-decoration: none;
  outline: none;
  transition: all .2s;
}
.border::before,
.border::after {
  position: absolute;
  z-index: 2;
  content: '';
  width: 0;
  height: 0;
  border: 2px solid transparent;
  box-sizing: content-box;
}
.border::before {
  top: -2px;
  left: -2px;
}
.border::after {
  bottom: -2px;
  right: -2px;
}
.border:hover {
  color: #0BC5EA;
  cursor: pointer;
}
.border:hover::before,
.border:hover::after {
  width: 100%;
  height: 100%;
}
.border:hover::before {
  border-bottom-color: #0BC5EA;
  border-left-color: #0BC5EA;
  transition: height .3s, width .3s .3s;
}
.border:hover::after {
  border-top-color: #0BC5EA;
  border-right-color: #0BC5EA;
  transition: height .3s, width .3s .3s;
}