html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  display: inline-block;
  position: relative;
  overflow: hidden;
  color: #808080;
  text-decoration: none;
  font-size: 1rem;
}

a:hover {
  color: #0BC5EA;
  cursor: pointer;
}

/* a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #0BC5EA;
  transform: translate(-100%, 0);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
  content: "";
}

a:hover:after {
  transform: translate(0, 0);
}

a:active {
  color: #0BC5EA;
} */
